autom4te.cache/
*.la
*.lo
*.o
Makefile
Makefile.in
Makefile.in.in
aclocal.m4
config.guess
config.h
config.log
config.status
config.sub
configure
depcomp
install-sh
libsauvegarde/.deps/
libsauvegarde/.libs/
libtool
ltmain.sh
m4/
missing
mkinstalldirs
monitor/.deps/
monitor/.libs/
monitor/client
po/POTFILES
po/fr.gmo
po/stamp-it
stamp-h1
