docs/doxygen_docs/
autom4te.cache/
*.la
*.lo
*.o
*.so
*.old
Makefile
Makefile.in
Makefile.in.in
aclocal.m4
config.guess
config.h
config.log
config.status
config.sub
configure
depcomp
install-sh
libsauvegarde/.deps/
libsauvegarde/.libs/
libsauvegarde/libsauvegarde.pc
libtool
ltmain.sh
m4/
po/*.mo
po/*~
missing
mkinstalldirs
monitor/.deps/
monitor/.libs/
monitor/cdpfglclient
po/POTFILES
po/fr.gmo
po/stamp-it
stamp-h1
serveur/.deps/
serveur/.libs/
serveur/cdpfglserver
restaure/.deps/
restaure/.libs/
restaure/cdpfglrestore
compile
manual/*.tex
manual/*.pdf
manual/*.aux
manual/*.ind
manual/*.out
manual/*.toc
manual/*.log
manual/graphs/*.png
manual/video/*.log
manual/video/*.mp4
bugs/
packaging/debian/sauvegarde*
